
:root{
  --font: 'Poppins', sans-serif;
  --font-large : 24px;
  --font-medium : 16px;
  --white : #f0f0f0;
}

body{
  background-color: #1E965A;
  margin: 0px auto;
  height: 915px;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
}
main {
  /* border: 1px solid #000000;   */
  display: flex;
  flex-direction: column;
}

p{
  padding: 0px;
  margin: 0px;
}

header{
  display: flex;
  flex-direction: column;
}
header > a {
  display: flex;
  flex-direction: column;
}

i{
  font-size: 40px;
  margin : 0px;
  align-items: center;
  text-align: center;
  opacity: 60%;
}

h1{
  font-size: 60px;
  font-weight: lighter;
  font-family: 'Big Shoulders Inline Text', cursive;
  margin: 0px;
  align-items: center;
  text-align: center;
  opacity: 60%;
}

form{  
  align-items: center;
  text-align: center;
  font-family: var(--font);
}

input::placeholder{
  color: #1E965A;
}

input{
  background-color: #D8F6CE;
  width: 210px;
  height: 30px;
  margin-bottom: 10px;
  opacity: 40%;
  border-radius: 3px;
  border-style: hidden;
  font-family: var(--font);
}

.forgot{
  color: #f0f0f0;
  margin-top: -5px;
  font-size: 12px;
  font-family: var(--font);
}


.join{
  font-family: var(--font);
}
.join p {
  text-align: center;
  text-decoration-line: underline;
  text-underline-position: under; 
  text-decoration-color: #f0f0f0;
  font-family: var(--font);
  font-size: var(--font-large);
  color: var(--white);
}


.footer{
  font-family: 'Big Shoulders Inline Text', cursive;  
}
.footer > p {
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 600;
}


button{
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  border-radius: 4px;
  border-style: groove;
  border: #0B6121;
  background-color: #0B6121;
  width: 220px;
  height: 35px;
  opacity: 80%;
  font-family: var(--font);
  letter-spacing: 3px;
}

a:visited{
  color: #f0f0f0;
}

a{
  text-decoration: none;
}
