/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@300&display=swap');
/* 상수 선언부 */
:root{
    --font: 'Poppins', sans-serif;
    --font-large : 20px;
    --font-medium : 16px;
    --white : #f0f0f0;
}

/* 초기화 */
p{
  padding: 0px;
  margin: 0px;
}
/* 시작 */
html, body, #root, #root > div {
  height: 100%;
}

body{
  /* background-color: #1E965A; */
  margin: 0px auto;  
  font-family: var(--font);
  display: flex;
  flex-direction: column;  
}

#root > div {
  display: flex;
  flex-direction: column;  
}
.login {
  background-color: #1E965A;
}


.login header{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  flex: 3;  
  justify-content: flex-end;
}
.login header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login header .logo {
  font-weight: lighter;    
  font-family: 'Big Shoulders Inline Text', cursive;
  font-size: 78px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color : #ffffff;
}

.login i{
  font-size: 40px;
  margin : 0px;
  align-items: center;
  text-align: center;
  opacity: 60%;
}
.login .book-icon {width: 15%;}
.login main {
  flex: 3;
}
.login .form-group{  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}

.login .form-group .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.7em;
  width: 100%;
}

.login .form-group .input-group label {
  width: 80%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.login .form-group .input-group label input{
  background-color: #D8F6CE;
  opacity: 32%;
  border-radius: 4px;
  border-style: hidden;
  font-family: var(--font);  
  font-size: 17px;
  width: 100%;
  font-size: var(--font-large);  
  margin: 0.3em 0em;  
  padding: 0.6em 0.5em;
}

.login input::placeholder{
  color: #4f4f4f;
}

.login .forgot{
  color: #f0f0f0;
  margin-top: -5px;
  font-size: 12px;
  font-family: var(--font);
}


.login .join{
  margin-top: 1.5em;
}
.login .join p {
  font-family: var(--font);
  text-align: center;
  text-decoration-line: underline;
  text-underline-position: under; 
  text-decoration-color: #f0f0f0;
  font-family: var(--font);
  font-size: 16px;  
  color: var(--white);
}


.login .footer{    
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  margin-bottom: 2em;
}
.login .footer > p {
  font-family: 'Big Shoulders Inline Text', cursive;    
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 600;
}


.login button{
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  border-radius: 4px;
  border-style: groove;
  border: #0B6121;
  background-color: #187848;
  width: 80%;
  /* height: 35px; */
  opacity: 80%;
  font-family: var(--font);
  letter-spacing: 3px; /* 자간 CSS */
  padding: 0.5em 0em;
  margin-top: 1em;
}

.login a:visited{
  color: #f0f0f0;
}

.login a{
  text-decoration: none;
}
